<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<h1> Find Develop 5 Year</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id </th>
        <th>Phone </th>
        <th>Email </th>
        <th>Full Name </th>
        <th>View detail </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="can : ${candidates}">
        <th th:text="${can.id}"> </th>
        <th th:text="${can.phone}"> </th>
        <th th:text="${can.email}"> </th>
        <th th:text="${can.fullName}"> </th>
<!--        <th > <a th:href="@{candidate/detail/{id}(id=${can.id})}"> View</a> </th>-->
    </tr>
    </tbody>
</table>
</body>
</html>